.testmo-bg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg);
}
.testm-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lg);
}
.testm-info{
    width: 40%;
    font-family: 'Noto serif';
}
.testm-info h1{
    font-size: var(--txt-lg);
    font-weight: 900;
    margin-bottom: 5px;
}
.testm-info p{
    font-size: var(--txt-m-re);
    font-weight: 300;
    color: gray;
}
.testm-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lg);
    width: 50%;
}
.testm-img img{
    width: 95%;
    border-radius: 20px;
}

@media only screen and (max-width: 675px){
    .testm-wrap{
        flex-direction: column-reverse;
    }
    .testm-info{
        width: 80%;
        padding: var(--padding-lg) 0;
    }
    .testm-img{
        width: 80%;
    }
}